/* Custom properties/variables  */
:root {
  --blue: #092B40;
  --gray: #3a3e43;
  --orange: #c96700;
  --white: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Nova Square', sans-serif;
  color: #f0f0f0;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h2 {
  text-align: center;
  font-size: 40px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

img {
  display: block;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--orange);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.nav-list {
  display: flex;
  margin-right: ;
}

.nav-list a {
  display: block;
  font-size: ;
  padding: ;
}

.nav-list a:hover {
  background: var(--gray);
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(.idea/Pictures/background.jpg);
  background-size: cover;
  text-shadow: 2px 2px 3px black;
}

.welcome-section > p {
  font-size: ;
  font-weight: 500;
  font-style: bold;
  color: var(--orange);
  text-shadow: 2px 2px 3px black;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--gray);
}

.about-me-p {
  font-size: ;
  font-weight: 500;
  font-style: italic;
  color: var(--orange);
  width: 80vw;
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: var(--blue);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto .5rem auto;
  border-bottom: 0.2rem solid #f0f0f0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 6rem auto 6rem auto;
  margin-bottom: 6rem;
}

.project {
  background: var(--gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.project:hover {
box-shadow: 4px 4px 3px black;
background-color: gray;
opacity: .85;
}

.project-image {
  height: 100%;
  width: 350px;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--orange);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--gray);
}

.contact-section-header > h2 {
  font-size: 6rem;
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(6px);
  color: var(--orange);
}

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--gray);
  border-top: 4px solid var(--orange);
}

footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}